$buttonWidth: 60px;
$buttonHeight: 60px;
$lightColor: #a5a5a5;
$orangeColor: #ee9406;
$darkColor: #323232;

@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");

body {
  box-sizing: border-box;
  background-color: #74b9ff;
  user-select: none;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: $buttonWidth * 4 + 5 * 10;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  .display {
    width: 100%;
    text-align: right;
    font-size: 30px;
    padding: 0px 0px 5px 5px;
  }

  .expression {
    font-size: 15px;
    color: $orangeColor;
    width: 100%;
    padding: 1px;
    margin: 0px;
    text-align: right;
    min-height: 20px;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button-container.left {
    width: 75%;
  }
  .button-container.right {
    width: 25%;
  }

  button {
    width: $buttonWidth;
    height: $buttonHeight;
    margin: 5px;
    border-radius: $buttonHeight/2.0;
    border: none;
    font-size: 30px;
  }

  button:active {
    opacity: 0.8;
    transform: scale(0.9);
  }
  button:hover {
    opacity: 0.8;
  }

  .big {
    width: $buttonWidth * 2+10;
  }
  .dark {
    background-color: $darkColor;
    color: white;
  }
  .light {
    background-color: $lightColor;
    color: black;
  }
  .orange {
    background-color: $orangeColor;
    color: white;
  }

  .clear {
    width: $buttonWidth * 3+20;
  }
}

@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}
